.searchPanel__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.searchPanel__input {
    flex-grow: 1;
    font-size: 21px;
    border-radius: 8px;
    padding: 4px 15px;
}